
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-weight: 900;
    font-size: 3.75rem;
    color: #223a66;
}

h4 {
    font-size: 2rem;
    color: #223a66;
}

  
.btn {
    padding: 1.25rem;
    text-decoration: none   
}

.btn-primary {
    background: #52725b;
    color: #fff;
    border-color: #52725b
}

.btn-primary:hover {
    background: #77a276;
    border-color: #52725b;
    color: #fff
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 0.625rem;
}

.text-center {
    text-align: center;
}
