.about-info {
    h1 {
        margin: 1rem 0;
    }
    padding-top: 3.125rem;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    div {
        padding: 0.625rem;
        h4 {
            margin: 10px 0;
        }
    }
    img {
        max-width: 330px;
    }
    @media (max-width: $breakpoint-small) {
        flex-wrap: wrap;
    }
}

.certificates {
    display: flex;
    justify-content: space-around;
    gap: 0.625rem;
    padding: 1rem;
}
.certificate img {
    max-width: 200px;
    width: 100%;
}