.style-me {
    color: blue
}

// Hero banner

.hero-image {
    background-image: url("/assets/images/hero-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        p {
            margin-bottom: 3.25rem;
        }
    @media (max-width: $breakpoint-small) {
        height: 500px;
    }

}

.hero-overlay {
    width: 100%;
    background: rgba(198,207,138,.5);
    padding: 3rem 0;
}

.hero-btn {
    padding: 1.25rem;
    margin: 0.625rem;
    border: none;
    a {
      text-decoration: none;
    }
}

.hero-text {
    p {
        font-weight: 500;
        font-size: 2rem;   
    }
    a {
        text-transform: uppercase;
        font-weight: 900;
    }
    @media (max-width: $breakpoint-small) {
        h1 {
            font-size: 2.75rem;
        }
        p {
            font-size: 1rem;
        }
    }
    
}

.about-intro {
    text-align: center;
    padding: 3.125rem 2rem;
    background-color: #e6e6e6; // Added background color
}

.iaat-member {
    background-color: #192140;
    color: #FFFFFF;
    max-width: 100%;
    padding: 3.125rem 2rem;
    .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
            max-width: 500px;
        }
        a {
            color: #ADB9E1;
        }
        img {
            max-width: 500px;
        }
    

    }
}
