<div class="header-container">
    <div>
        <img class="logo" src="assets/images/wolds_canine_massage_logo_stacked.png">
    </div>
    <div class="header-book-btn">
        <a class="btn btn-primary " href="https://squareup.com/appointments/book/fexjfouhksjwtj/LFXBTA90Z3XJD/services">Book an appointment</a>
    </div>
</div>
<button class="menu-button" aria-label="Toggle Navigation">Menu</button>
<nav class="navbar">
    <ul class="navbar__list">
        <li><a href="#">Book Now</a></li>
        <li><a href="#">What Is Canine Massage?</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Workshops</a></li>
        <li><a href="#">Veterinary Professionals</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</nav>