.promo-bar {
    background-color: #2f4d3a;
    color: #fff;
    font-size: 0.95rem;
}

.promo-bar__inner {
    margin: 0 1rem;
    padding: 8px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.promo-bar__cta {
    background-color: #fff;
    color: #2f4d3a;
    padding: 6px 12px;
    border-radius: 999px;
    text-decoration: none;
    font-weight: 600;
}

.promo-bar__cta:hover {
    background-color: #e9f0ec;
}

.header-container {
    margin: 0rem 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    @include respond-to(small) {
        justify-content: center;
    }

    @include respond-to(medium) {
        justify-content: center;
        margin: 0rem 1rem;
        flex-direction: column;
    }
    a {
        text-decoration: none;
    }
}


.logo {
    width: 8.5rem;
}

.header-book-btn {
    min-width: 200px;
    font-size: 16px;
    @include respond-to(small) {
        display: none;
    }

    @include respond-to(medium) {
        display: none;
    }


}

.phone-number {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #52725B;
    img {
        width: 30px;
        height: 30px;
    }
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #52725b;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: none;
    width: 100%;

    @media (min-width: $breakpoint-medium) {
        display: none;
    }
}

.navbar {
    display: none;

    @media (min-width: $breakpoint-medium) {
        display: block;
        
    }

    background-color: #52725b;
    
    &__list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        

        @media (min-width: $breakpoint-medium) {
            flex-direction: row;
        }
    }

    a {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        text-align: center;

        &:hover {
            background-color: #555;
        }
    }

    // By default, the "Book Now" link is hidden.
    li:first-child {
        display: block;

        @media (min-width: $breakpoint-medium) {
            display: none;
        }
    }
}




