<footer>
    <div class="footer-container">
        <div class="footer-col">
            <img src="assets/images/wolds_canine_massage_logo_stacked.png" alt="Company Logo">
            <div class="social-link-container">
                <a class="social-link" href="https://www.facebook.com/WoldsCanineMassage" target="_blank"><img src="assets/images/facebook.png" alt="Facebook"></a>
                <a class="social-link" href="https://www.instagram.com/woldscaninemassage" target="_blank"><img src="assets/images/instagram.png" alt="Instagram"></a>  
            </div>
        </div>
        <div class="footer-col footer-links">
            <h4>Support</h4>
            <a href="privacy-policy.html">Privacy Policy</a>
            <a href="cookie-policy.html">Cookie Policy</a>
            <a href="faqs.html">FAQs</a>
        </div>
        <div class="footer-col footer-links">
            <h4>Get in Touch</h4>
            <a href="mailto:woldscaninemassage@gmail.com">woldscaninemassage@gmail.com</a>
            <a href="tel:07593563850">07593 563 850</a>
        </div>
    </div>
    <div class="footer-copyright">
        <p>© Copyright of Wolds Canine Massage</p>
    </div>
</footer>