<div class="header-container">
    <div>
        <a href="/"><img class="logo" src="assets/images/wolds_canine_massage_logo_stacked.png"></a>
    </div>
    <div class="header-book-btn">
        <a class="btn btn-primary " href="https://squareup.com/appointments/book/fexjfouhksjwtj/LFXBTA90Z3XJD/services">Book an appointment</a>
    </div>
    <a class="phone-number" href="tel:+44-7593563850"><img src="assets/images/phone-call.png" alt="Phone"><span>07593 563 850</span></a>
</div>
<button class="menu-button" aria-label="Toggle Navigation">Menu</button>
<nav class="navbar">
    <ul class="navbar__list">
        <li><a href="https://squareup.com/appointments/book/fexjfouhksjwtj/LFXBTA90Z3XJD/services">Book Now</a></li>
        <li><a href="what-is-canine-massage">What Is Canine Massage?</a></li>
        <li><a href="about-us">About</a></li>
        <li><a href="services">Services</a></li>
        <li><a href="canine-massage-for-owners-courses">Owner Courses</a></li>
        <li><a href="information-for-veterinary-professionals">Veterinary Professionals</a></li>
        <li><a href="contact">Contact</a></li>
    </ul>
</nav>