.style-me {
    color: blue
}

// Hero banner

.hero-image {
    background-image: url("/assets/images/hero-img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
        p {
            margin-bottom: 3.25rem;
        }
    @media (max-width: $breakpoint-small) {
        height: 500px;
    }

}

.hero-overlay {
    width: 100%;
    background: rgba(198,207,138,.5);
    padding: 3rem 0;
}

.hero-btn {
    padding: 1.25rem;
    margin: 0.625rem;
    border: none;
}

.hero-text {
    p {
        font-weight: 500;
        font-size: 2rem;   
    }
    a {
        text-transform: uppercase;
        font-weight: 900;
    }
    @media (max-width: $breakpoint-small) {
        h1 {
            font-size: 2.75rem;
        }
        p {
            font-size: 1rem;
        }
    }
    
}

.about-intro {
    text-align: center;
    padding: 3.125rem 2rem;
    background-color: #e6e6e6; // Added background color
}

.testimonials {
    background-color: #f9f9f9;
    padding: 3.125rem 2rem;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); // Added box-shadow for section separation
    min-height: 300px; // Added minimum height to keep the box consistent
    display: flex;
    align-items: center;
    justify-content: center;
    .testimonial-header {
        font-size: 2rem;
        color: #333;
    }
}

.testimonial-slide {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 200px; // Added minimum height to keep the box consistent
    .testimonial-author {
        font-size: 1.5rem;
        color: #666;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .testimonial-rating {
        font-size: 1.25rem;
        color: #fbc02d;
    }
    p {
        font-size: 1.25rem;
        color: #333;
    }
}

.iaat-member {
    background-color: #192140;
    color: #FFFFFF;
    max-width: 100%;
    padding: 3.125rem 2rem;
    .container {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        p {
            max-width: 500px;
        }
        a {
            color: #ADB9E1;
        }
        img {
            max-width: 500px;
        }
    

    }
}
